# =========================
# STM32CubeIDE / Eclipse
# =========================
.metadata/
.settings/

# Build outputs (CubeIDE)
Debug/
Release/
build/

# =========================
# Toolchain / compiler artifacts
# =========================
*.o
*.a
*.elf
*.map
*.hex
*.bin
*.d
*.su

# =========================
# Object / dependency (generic C/C++)
# =========================
*.obj

# =========================
# Debug / symbols (harmless to ignore)
# =========================
*.dSYM/
*.idb
*.pdb

# =========================
# OS junk / temp
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
